<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutPadrao}">
<head>
<title>Pesquisa de Titulo</title>
</head>
<section layout:fragment="conteudo">
	<div class="card">
		<div class="card-body">
			<div class="clearfix">
				<h4 class="card-title aw-titulo-panel">Pesquisa de Titulo</h4>
				<a class="btn btn-link aw-link-panel" href="/titulos/novo">Novo
					título</a>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Descricao</th>
						<th scope="col">Data de vencimento</th>
						<th scope="col">Valor</th>
						<th scope="col">Status</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="titulo:${titulos}">
						<td th:text="${titulo.codigo}"></td>
						<td th:text="${titulo.descricao}"></td>
						<td th:text="${{titulo.dataVencimento}}"></td>
						<td th:text="|R$ ${{titulo.valor}}|"></td>
						<td><span class="badge badge-success"
							th:text="${titulo.status.descricao}"
							th:classappend="${titulo.pendente ? 'badge-danger':'badge-success'}">Success</span></td>
						<td></td>
					</tr>


					<tr>
						<td th:if="${#lists.isEmpty(titulos)}">Nenhum titulo foi
							encontrado</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</section>
</html>